html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
body {
  background-image: url(./assets/bubbles.jpeg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* start nav */
.navbar-brand {
  padding: 0 2rem 0 5rem;
  color: #fffffc;
  font-family: "Nunito", serif;
  background-image: linear-gradient(to right, #fffffc, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 28px;
}
.navbar {
  padding: 0 10rem;
}
.nav-link {
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: #fffffc;
  font-family: "Nunito", serif;
}
.nav-link.active {
  background-image: linear-gradient(to right, #fffffc, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.nav-link:hover {
  background-image: linear-gradient(to right, #fffffc, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* end nav bar */

/* banner begins */
#imgHead {
  width: 540px; /* you can use % */
  height: auto;
  float: right;
}

.title h3 {
  padding-top: 35%;
  font-weight: 500;
}
.title h3::after {
  content: "";
  height: 2px;
  width: 22vw;
  background: #fffffc;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}
.title-text {
  color: #fffffc;
  font-family: "Nunito", serif;
}
.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px;
  font-family: "Nunito", serif;
  position: relative;
  border: 2px solid transparent;
  border-radius: 3px;
}
.button.primary-button {
  background-image: linear-gradient(to right, #abc4ff, #fffffc);
  background-clip: padding-box;
  color: #353535;
  transition: background.6s ease;
}
.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: #353535;
}
/* banner ends */

/* about begins */
.about-me {
  padding: 8rem 5rem;
}
h2 > span {
  color: #353535;
  display: block;
  font: normal bold 49px/60px;
  font-family: "Nunito", serif;
  letter-spacing: 10px;
}

.hobb,
p.para {
  font: normal 500 16px/25px;
  color: #353535;
  font-family: "Nunito", serif;
}
/* about ends */
